# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Docker
.docker/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
.env
venv/
env/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage/
htmlcov/
.tox/
.code_quality/
.hadolint.yaml
.hadolint.yml
