name: Docker Lint

on:
  push:
    branches: [ main, master ]
    paths:
      - 'Dockerfile'
      - '.code_quality/**'
  pull_request:
    branches: [ main, master ]
    paths:
      - 'Dockerfile'
      - '.code_quality/**'

jobs:
  hadolint:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
          config-file: .code_quality/.hadolint.yaml
          failure-threshold: error

